body {
  background-color: #fff;
}

.navbar-laravel {
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
  min-height: 80px;
}

.navbar-laravel .navbar-brand {
  color: #bdbdbd;
  font-size: 25px;
  font-family: 'Rajdhani', sans-serif;
  padding-bottom: 0.1rem;
}

.default-link {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.default-link:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.sup-block_menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sup-block_menu .menu {
  width: auto;
  height: 100vh;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.21);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.21);
}

.sup-block_menu .menu .top-block_menu {
  width: 100%;
}

.sup-block_menu .menu .top-block_menu .brand {
  width: 100%;
  height: 80px;
  background-color: #4583bd;
}

.sup-block_menu .menu .top-block_menu .brand p {
  color: #fff;
  font-size: 20px;
  line-height: 80px;
}

.sup-block_menu .menu .medium-block_menu .title_menu {
  margin: 0;
}

.sup-block_menu .menu .medium-block_menu .title_menu span p {
  margin: 0;
  font-weight: bold;
  color: grey;
  font-family: arial,sans-serif;
  font-size: 12px;
  margin-left: 5px;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_menu {
  background-color: #fff;
  border-radius: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-right: none;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_menu a {
  color: black;
  text-decoration: none;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_menu i {
  color: #4583bd;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_menu:before {
  content: '';
  position: absolute;
  opacity: 0;
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_menu:hover {
  border-left: 5px solid #4583bd;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_menu:hover:before {
  opacity: 1;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_submenu {
  list-style: none;
  padding: 0.25rem 1.5rem;
  clear: both;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_submenu a {
  color: black;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sup-block_menu .menu .medium-block_menu .list .list-group_menu .li_submenu a:hover {
  color: #4583bd;
}

.sup-block_menu .menu .bottom-block_menu {
  margin: 20px 0 0;
  width: 100%;
  height: 50px;
}

.sup-block_menu .menu .bottom-block_menu span {
  margin: 0;
}

.sup-block_menu .menu .bottom-block_menu span p {
  margin: 0;
}

.pop-art {
  margin-bottom: 5px;
  border-bottom: 1px solid #bdbdbd;
  padding: 10px 0px;
  margin-top: 5px;
}

.pop-art h5 {
  color: #575757;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}

.categories-ul {
  width: 100%;
  text-align: center;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 4px 0px #cdcdcd;
          box-shadow: 0px 0px 4px 0px #cdcdcd;
  padding: 10px;
}

.categories-block {
  min-width: 100%;
}

.categories-li-mobile {
  text-align: center;
  display: grid;
  padding: 10px;
  font-family: 'Kanit', sans-serif;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories-li-mobile:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #b0b0b0;
          box-shadow: 0px 0px 6px 0px #b0b0b0;
}

.categories-li-mobile a {
  color: #575757;
  font-size: 15px;
}

.categories-li-mobile a:hover {
  color: black;
}

.categories-ul a {
  color: #575757;
  font-size: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories-ul a:hover {
  color: black;
  text-decoration: none;
}

.categories-li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-family: 'Kanit', sans-serif;
  margin: 5px;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories-li:hover {
  -webkit-box-shadow: 0px 0px 4px 0px #b0b0b0;
          box-shadow: 0px 0px 4px 0px #b0b0b0;
}

.categories-li a {
  color: #575757;
  font-size: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.categories-li a:hover {
  color: black;
  text-decoration: none;
}

.categories-menu-title {
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  color: #575757;
  font-size: 17px;
}

.categories-menu-title .arrow {
  width: 1.5rem;
}

.categories-menu-title .arrow span {
  width: 0.9rem;
  background-color: black;
}

.popular-today-title {
  padding: 5px;
  text-transform: uppercase;
  font-size: 17px;
  color: #575757;
  font-family: 'Kanit', sans-serif;
}

.categories-ul-md-down {
  display: none;
  border-radius: 10px;
  width: 100%;
}

.bottom-info-panel {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
}

.bottom-info-panel .popular-record-category {
  position: absolute;
  color: black;
  margin: 0 30px;
  text-transform: uppercase;
  font-size: 0.7rem;
  right: 0;
}

.bottom-info-panel .popular-record-date {
  float: left;
  color: grey;
  margin: 0;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.li_main {
  -webkit-transition: .3s;
  transition: .3s;
}

.li_main:hover {
  background-color: #EEF1F4;
}

.li_main p {
  margin: 0;
}

.li_main a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.li_main a:hover {
  color: #575757;
}

.pre_description {
  padding-top: 10px;
}

.post {
  padding-bottom: 25px;
  border-bottom: 1px solid #EEF1F4;
}

.show-i {
  margin: 10px 0;
  -webkit-animation: show 0.7s linear;
          animation: show 0.7s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hide {
  opacity: 0;
}

.l_more {
  margin: 20px;
  text-align: center;
}

.l_more button {
  border-radius: 5px;
  padding: 10px 20px;
  color: #575757;
  border: 1px solid #bdbdbd;
}

.l_more button:active {
  outline: none !important;
}

.popular_articles_devider:first-child {
  border-right: 1px solid #bdbdbd;
}

.record {
  margin-top: 5px;
}

.record .record-category {
  float: right;
  color: #bdbdbd;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 5px;
}

.record .pre_title {
  padding-top: 5px;
}

.record .pre_title a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.record .pre_title a:hover {
  color: #4e6686;
}

.record .pre_title a p {
  font-size: 1rem;
  font-family: 'Open Sans',Arial,sans-serif;
  color: black;
  margin: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.record .pre_title a p:hover {
  color: #575757;
}

.img-fluid:hover .background-brown {
  display: block;
}

.image-background {
  width: 100%;
  height: 400px;
}

.popular_article h5 {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-family: 'Open Sans',Arial,sans-serif;
  color: black;
  margin: 0;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.popular_article h5:hover {
  color: #575757;
}

.content {
  min-height: 170px;
  padding: 15px 5px 5px 5px;
}

.col_news {
  padding: 0;
}

.col_news .image_news .info_news {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px;
}

.col_news .image_news .info_news p {
  font-size: 1.5rem;
  bottom: 0;
  color: #fff;
  padding: 10px;
  margin: 0;
}

.col_news .image_news .info_news p:last-child {
  font-size: 1rem;
}

.col_news .image_news .image_bright {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.1;
}

.row-shadow {
  -webkit-box-shadow: 0px 0px 4px 0px #cdcdcd;
          box-shadow: 0px 0px 4px 0px #cdcdcd;
}

.main-articles {
  border-bottom: 1px solid #bdbdbd;
  padding: 10px 0px;
}

.main-articles h5 {
  color: #575757;
  margin: 0;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
}

.border_popular_article {
  border-bottom: 1px solid #bdbdbd;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.footer .container {
  border-top: 1px solid #bdbdbd;
}

.footer .container ul {
  padding: 40px 10px 10px 10px;
  list-style: none;
}

.footer .container ul li {
  padding: 5px;
}

.footer .logo {
  padding: 10px;
}

.footer .rights {
  width: 100%;
  position: relative;
  bottom: 0px;
}

.a-default {
  color: black;
}

.a-default:hover {
  color: #4583bd;
}

.password_forgot {
  padding: 6px;
}

.button_login {
  width: 100%;
}

.dropdown-item {
  text-transform: none;
  color: rgba(0, 0, 0, 0.5);
}

.card_header h5 {
  padding: 10px;
  border-bottom: 1px solid #EEF1F4;
}

.card_header .login_error {
  margin: 10px;
}

.card_header .login_error p {
  margin: 0px;
}

.ul_main {
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.ul_main h5 {
  background-color: #EEF1F4;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid #bdbdbd;
  color: #575757;
  font-variant: small-caps;
  padding: 5px;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.ul_main li {
  color: black;
  padding: 10px;
}

.ul_main li:last-child {
  border-bottom: none;
}

.scrolToTop_sup {
  text-align: center;
  padding: 5px;
}

.alert-container {
  position: absolute;
  z-index: 1000;
  margin: 5px;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 15px;
}

.alert-container .alert {
  margin-bottom: 0;
}

.scrollToTop {
  width: 40px;
  height: 100%;
  background-color: #bdbdbd;
  position: fixed;
  cursor: pointer;
  z-index: 100;
  opacity: 0.5;
  color: black;
  top: 0;
  right: 0;
}

.mobile-admin-menu {
  position: absolute;
  z-index: 1000;
}

.square_of_form_category {
  background-color: #fff;
  padding: 0 0 45px;
  border-collapse: collapse;
}

.square_of_form_category .ul_errors_category {
  padding: 20px;
  border-bottom: 1px solid #ced4da;
}

.square_of_form_category .squareplus_of_form_category {
  padding: 10px;
}

.btn_menu {
  margin: 5px;
}

.mobile_menu {
  left: -1000px;
  z-index: 1000;
  background-color: #fff;
}

.pre_mobile_menu {
  position: absolute;
  opacity: 0.8;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.btn_close_admin_menu {
  right: 0;
  top: 0;
  display: none;
  z-index: 1000;
  margin: 4px 10px 5px 5px;
  position: absolute;
}

.btn_close_admin_menu i {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn_close_admin_menu i:hover {
  color: #bdbdbd;
}

.medium-block_mobile_menu .h_elements_mobile {
  padding: 20px;
  color: #bdbdbd;
}

.medium-block_mobile_menu .h_elements_mobile h4 {
  margin: 0;
}

.medium-block_mobile_menu .li_mobile_menu {
  padding: 10px 10px 10px 20px;
  border-top: 2px solid #EEF1F4;
  list-style: none;
}

.medium-block_mobile_menu .li_mobile_menu i {
  color: #4583bd;
}

.medium-block_mobile_menu .li_mobile_menu a {
  font-size: 15px;
  color: black;
}

.medium-block_mobile_menu .li_mobile_menu ul {
  padding-left: 20px;
  list-style: none;
}

.medium-block_mobile_menu .li_mobile_menu ul .li_mobile_submenu {
  padding-top: 5px;
  list-style: none;
}

.brand_mobile {
  background-color: #4583bd;
  padding: 10px;
}

.brand_mobile p {
  margin: 0;
  color: #fff;
  font-size: 20px;
}

.button-sqare_menu {
  position: fixed;
  width: 36px;
  height: 32px;
  z-index: 1000;
  padding: 3px 6px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px -4px #878787;
          box-shadow: 0 2px 10px -4px #878787;
}

.button-open_menu {
  position: absolute;
  width: 4px;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 30px;
  margin-top: -8px;
  margin-left: 24px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: black;
}

.button-open_menu:before {
  content: "";
  width: 4px;
  height: 30px;
  position: absolute;
  z-index: 1000;
  margin-left: 10px;
  background-color: black;
}

.button-open_menu:after {
  content: "";
  width: 4px;
  height: 30px;
  position: absolute;
  z-index: 1000;
  margin-left: 20px;
  background-color: black;
}

.button-close_menu {
  position: fixed;
}

.button-close_menu:before {
  content: "";
  width: 2px;
  position: absolute;
  z-index: 1000;
  margin: 20px;
  top: 0;
  left: 0;
  height: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: black;
}

.button-close_menu:after {
  content: "";
  width: 2px;
  position: absolute;
  z-index: 1000;
  margin: 20px;
  top: 0;
  left: 0;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: black;
}

.dashboard-table {
  width: 100%;
}

.tr_users th {
  vertical-align: middle;
}

.btn-small {
  padding: 5px;
}

.btn-form {
  border: none;
  background-color: none;
}

.btn-form i {
  color: #bdbdbd;
}

.btn-form i:hover {
  color: #4583bd;
}

.devider {
  height: 0;
  margin-bottom: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.no-padding {
  padding: 0;
}

.hidden {
  display: none;
}

.arrow {
  vertical-align: bottom;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0.12rem 1rem;
}

.arrow span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #4583bd;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrow span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow.active span:first-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow.active span:last-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-left-bar {
  vertical-align: bottom;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 10px;
  margin: 0.12rem 1rem;
}

.arrow-left-bar span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #575757;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.arrow-left-bar span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-left-bar span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-left-bar.active span:first-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow-left-bar.active span:last-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.footer-logo {
  padding: 10px;
}

.image_popular {
  max-width: 100%;
  border: 1px solid #e4e4e4;
}

.record-time {
  float: left;
  color: grey;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 5px;
}

.image_simple {
  max-width: 100%;
  border: 1px solid #e4e4e4;
}

.background-admin {
  padding: 15px;
  background-color: #fff;
}

